
<html>
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
</head>
<body>
    <header id="header">
        <a href="" class="h_menu">
            <div>Главная</div>
        </a>
        <a href="" class="h_menu">
            <div>Записаться на приём</div>
        </a>
        <a href="" class="h_menu">
            <div>Цены</div>
        </a>
        <a href="" class="h_menu">
            <div>Регистрация</div>
        </a>
    </header>

</body>
</html>
