<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>ClinicPet</display-name>

    <description>

        This is a web application.
    </description>

    <servlet>
        <servlet-name>ClinicServlet</servlet-name>
        <servlet-class>ru.lesson.lessons.PetClinic.servlets.ClinicServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserView</servlet-name>
        <servlet-class>ru.lesson.lessons.PetClinic.servlets.UserViewServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserCreate</servlet-name>
        <servlet-class>ru.lesson.lessons.PetClinic.servlets.CreateUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserDelete</servlet-name>
        <servlet-class>ru.lesson.lessons.PetClinic.servlets.DeleteUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>ru.lesson.lessons.PetClinic.servlets.EditUserServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PetEdit</servlet-name>
        <servlet-class>ru.lesson.lessons.PetClinic.servlets.CreatePetServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ClinicServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDelete</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PetEdit</servlet-name>
        <url-pattern>/user/createPet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/user/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserCreate</servlet-name>
        <url-pattern>/user/create</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserView</servlet-name>
        <url-pattern>/user/view</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>//404.jsp</location>
    </error-page>
</web-app>